@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

body{
    background:  hsl(212, 45%, 89%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}
.qrcode{
    display: flex;
    align-items: center;
    flex-direction: column;
    background: white;

    border-radius: 10px;
    width: 300px;
    height: 450px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 25px;

}
.qrimg{
    width: 270px;
    height: 270px;
    border-radius: 10px;
    margin: 15px;
    margin-bottom:5px ;


}
.heading{
    text-align: center;
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    margin: 4px 0 12px 0;
    font-size: 20px;
    color: hsl(218, 44%, 22%);
}
.procedure{
    text-align: center;
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: hsl(220, 15%, 55%);
}